body {
    background-image: url(../Assets/Images/H3.jpg);
}

.container {
    background-color: #212529bf;
}

.firstHeader {
    color: ghostwhite;
}

p {
    color: ghostwhite;
}

label {
    color: ghostwhite;
}

.card {
    float: left;
    margin: 30px;
}